{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Amaranthe
{% endblock %}
{% block title_group %}
Amaranthe
{% endblock %}
{% block content %}
<div>
      <h1>Amaranthe</h1>
      <div>
        <a href="#Bio">Биография</a>
        <a href="#compos">Состав</a>
        <a class="a-test" href="#video">Видеоклип</a>
    </div>
      <img src="https://images3.alphacoders.com/195/thumb-1920-195425.jpg" height="400">
    </div>  
    <div>
      <h2 id="Bio">Биография</h2>
      <p>
            <strong>Amaranthe</strong> (ранее известная как <em>Avalanche</em>) - это шведско-датская мелодик/модерн-метал-группа, сформировавшаяся в Швеции и Дании. Amaranthe - новый проект, в котором приняли участие Джейк Е. Лундберг (ex-Dream Evil, Dreamland) и Олоф Мерк (Nightrage, Dragonland).
      </p>   
      <h2 id="compos">Состав</h2>
      <p>
        <ul>
          <li>Andy Solveström (2008 – 2013)</li>
          <li>Elize Ryd (2008 – сегодня)</li>
          <li>Henrik Englund Wilhelmsson (2013 – сегодня)</li>
          <li>Jake E (2008 – 2017)</li>
          <li>Johan Andreassen (2009 – сегодня)</li>
          <li>Morten Løwe Sørensen (2008 – сегодня)</li>
          <li>Nils Molin (2017 – сегодня)</li>
          <li>Olof Mörck (2008 – 2009)</li>
        </ul>
    </p>
      <h2 id="video">Видео</h2>
      <p>
        <h3>Digital World (Official Video)</h3>        
        <video width="600" controls="controls" poster="amaranthe_poster.jpg">
          <source src="{% static 'video/amaranthe_video.mp4' %}">
        </video>
      </p>
    </div>
{%endblock%}
