{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Amaranthe
{% endblock %}
{% block title_group %}
Amaranthe
{% endblock %}
{% block content %}
<div>
      <h1>Annisokay</h1>
      <img src="https://avatars.mds.yandex.net/get-zen_doc/1679483/pub_5dd2e255d2bc1447e8b0855d_5dd2f2e7902e62533e360f81/scale_1200" height="400">
    </div>  
    <div>
      <h2 class="title-blue">Биография</h2>
      <p>
            Annisokay (произносится Ann is okay) - немецкая пост-хардкор группа из Галле, Саксония-Анхальт.
      </p>   
      <h2>Состав</h2>
      <p>
        <ul>
          <li>Christoph Wieczorek (2007 – сегодня)</li>
          <li>Dave Grunewald</li>
          <li>Norbert Rose (2007 – сегодня)</li>
        </ul>
      </p>
    </div>
{%endblock%}
