{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>{% block title %}{% endblock %}</title> 
    <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}">
    <meta charset="utf-8">
  </head>
  <body>
    <div class="space-nav-top">
      <div class="middle-title-nav">{% block title_group %}{% endblock %}</div>
      <div class="head-title-text"><a href="index.html">Главная</a> </div>
      <div class="head-title-text"><a href="groups.html"">Группы</a>  </div>
    </div>
{% block content %}{% endblock %}
  </body>
</html>