{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Amaranthe
{% endblock %}
{% block title_group %}
Amaranthe
{% endblock %}
{% block content %}
<div>
      <h1 >Bring Me the Horizon</h1>
      <img src="https://i.scdn.co/image/ab6761670000ecd4c7e3c5d3782602d4c601d788" height="400">
    </div>  
    <div>
      <h2>Биография</h2>
      <p>
        <strong>Bring Me the Horizon</strong> - британская рок-группа из Шеффилда, Йоркшира, основанная в 2004 <br>
        году. На данный момент группа имеет шесть выпущенных полноформатных альбомов и четыре мини-альбома. На <br>
        протяжении карьеры участники старались экспериментировать со звучанием: ранние релизы имели более тяжёлый <br>
        звук и были классифицированы как дэткор и металкор. Позднее в звучание группы добавились элементы мелодичногo<br/>
        хардкора, альтернативного, электронного и пост-рока.
      </p>   
      <h2>Состав</h2>
      <p>
        <ul>
          <li>Оливер Сайкс (2004—настоящее время)</li>
          <li>Ли Малиа (2004—настоящее время)</li>
          <li>Мэтт Кин (2004—настоящее время)</li>
          <li>Мэтт Николлс (2004—настоящее время)</li>
          <li>Джордан Фиш (2012—настоящее время)</li>
        </ul>
      </p>
    </div>
{%endblock%}
