{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}">
  <link ref="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>database</title>
</head>
<body>
<h1>Демонстрация работы с БД</h1>  
  {% for el in users %}
    <div class="alert alert-warning mt-2">
      <p>{{el.name}}</p>
      <p>{{el.surname}}</p>
      <p>{{el.email}}</p>
    </div>
  {% endfor %}
</body>
</html>