{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Обратная связь</title>
   
    <link rel="stylesheet" href="{% static 'css/form.css'%}">
</head>
<body>

<div class="main_form">
    <form class="feedback-form" id="form">
        <div class="feedback-form__title">Написать нам:</div>
        <input type="text" id="name1" class="feedback-form__input feedback-form__name" placeholder="Как вас зовут?" name="name"  data-reg="">
        <input id="phone2" type="tel" class="feedback-form__input feedback-form__tel" placeholder="Ваш телефон" name="phone2" data-reg="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$">
        <textarea id="text1" class="feedback-form__input popur-form_textarea" name="comment" placeholder="Ваш отзыв/пожелания" data-reg=""></textarea>
        <button type="submit" class="btn feedback-form__button form-button" id="button" name="button"><span>Отправить сообщение</span></button>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'js/form.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>


  

</body>

</html>