{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Музыкальные группы</title> 
    <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}">
    <meta charset="utf-8">
  </head>
  <body>
    <div class="space-nav-top">
      <div class="middle-title-nav">Музыкальные группы</div>
      <div class="head-title-text"><a href="index.html">Главная</a> </div>
      <div class="head-title-text"><a href="groups.html">Группы</a>  </div>
    </div>
    <div>
      <h1>Навигация по группам</h1>
      <h2>A</h2>
      <ol>
        <li><a href="amaranthe.html">Amaranthe</a></li>
        <li><a href="annisokay.html">Annisokay</a></li>
      </ol>
      <h2>B</h2>
      <ol>
        <li><a href="BMTH.html">Bring Me the Horizon</a></li>
      </ol>
    </div>  
  </body>
</html>