{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    
    <title>Главная</title> 

    {{lang_sel}}
    
    <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}">
      <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    
  </head>
  <body>
    <div class="space-nav-top">
      <div id ="nav1"class="middle-title-nav">Главная</div>
      <div  class="head-title-text"><a id ="nav2" href="index.html">Главная</a> </div>
      <div  class="head-title-text"><a id ="nav6" href="groups.html"">Группы</a>  </div>
      <div class="dropdown">
        <button id ="nav3" class="dropbtn">Авторы</button>
          <div class="dropdown-content">
            <a id ="nav3_1" href="https://vk.com/lirpost">Даниил</a>
            <a id ="nav3_2" href="https://vk.com/xeonikss">Леонид</a>
            
          </div>
      </div>
      <div  class="form-title-text"><a id ="nav4" href="register.html">Регистрация</a></div>
      <div  class="form-title-text"><a id ="nav5" href="login.html">Авторизация</a></div>
    </div>

      <!--<div style="c">
        <h1 id ="content1" name="content1">О сайте</h1>
          <select name="lang_switch" id="lang_switch" required="required">
          <option id="opt1" name="opt1" selected value={{lang_sel}} onclick=
            "changeLang(value);
            ">{{lang_sel}}</option>
          <option id="opt2" name="opt2" value={{lang_unsel}} onclick=
            "changeLang(value);
            ">{{lang_unsel}}</option>
      </select>-->
        <p id="p_new_user"> Добро пожаловать! Вы у нас в первый раз. </p>
        <p id="p_old_user"> Рады снова Вас видеть! Вы были у нас последний раз {{date}} </p>
        <p>
          <a id ="content2" href="feedback.html">Связаться с нами</a>
          <a id ="content3" href="database.html">Работа с бд</a>
          <span id ="content4" ">Вашему вниманию будет представлена информация про     
          некоторые из   
          музыкальных групп. </span> 
        </p>

        
          <button class="translate" id="en" onclick=
            "changeLang(en);
            ">English</button>
          <button class="translate" id="ru" onclick=
            changeLang(ru);
            ">Русский</button>
        <img src="{% static 'img/main.jpg' %}" text-align="center" width="50%">  
      </div>


    <script  src="static/js/multilanguage.js"></script>
  </body>
</html>