{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    
    <title>Главная</title> 
    <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}">
  
      <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <meta charset="utf-8">
  </head>
  <body>
    <div class="space-nav-top">
      <div class="middle-title-nav">Главная</div>
      
      <div class="head-title-text"><a href="index.html">Главная</a> </div>
      <div class="head-title-text"><a href="groups.html"">Группы</a>  </div>
      <div class="dropdown">
        <button class="dropbtn">Авторы</button>
          <div class="dropdown-content">
            <a href="https://vk.com/lirpost">Даниил</a>
            <a href="https://vk.com/xeonikss">Леонид</a>
            
          </div>
      </div>
    </div>
    <!--часть связанная с формами-->
      <div class="wrapper">
        <div class="form">
          <form action="#" id="form" class="form-body">
            <h2 class="form-title">Авторизация</h2>
            <div class="form-item">
              <label for="formName" class="form-label">Имя*</label>
              <input  id="formName" type="text" id="name" name="name" data-reg="^([А-Я]{1}[а-яё]{1,23}|[A-Z]{1}[a-z]{1,23})$" class="form-input _req">
            </div>
            <div class="form-item">
              <label for="formSurname" class="form__label">Фамилия*</label>
              <input  id="formSurname" type="text" id="surname" name="surname" class="form-input _req" data-reg="^([А-Я]{1}[а-яё]{1,23}|[A-Z]{1}[a-z]{1,23})$">
            </div>
            <div class="form-item">
              <label for="formEmail" class="form-label">E-mail*</label>
              <input  id="formMail" type="email" id="mail" name="mail" class="form-input _email _req" data-reg="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$">
            </div>
            <div class="form-item">
              <label for="formPassword" class="form-label" id="password" name="password">Пароль*</label>
              <input  id="formPassword" type="password" name="password" class="form-input _req">
            </div>
            <button type="submit" class="form-button" id="button" name="button">Авторизироваться</button>
          </form>
        </div>
      </div>
    <!--конец части с формами-->
    <script src="{% static 'js/script.js' %}"></script>
  
  </body>
</html>