{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    
    <title>Главная</title> 
    <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}">
     
      <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <meta charset="utf-8">
  </head>
  <body>
    <div class="space-nav-top">
      <div class="middle-title-nav">Главная</div>
      
      <div class="head-title-text"><a href="index.html">Главная</a> </div>
      <div class="head-title-text"><a href="groups.html"">Группы</a>  </div>
      <div class="dropdown">
        <button class="dropbtn">Авторы</button>
          <div class="dropdown-content">
            <a href="https://vk.com/lirpost">Даниил</a>
            <a href="https://vk.com/xeonikss">Леонид</a>
          </div>
      </div>
    </div>
    <!--часть связанная с формами-->
      <div class="wrapper">
        <div class="form">
          <form action="#" id="form" class="form-body" method="post">
            {% csrf_token %}
            <h2 class="form-title">Регистрация</h2>
            <div class="form-item">
              <label for="formName" class="form-label">Имя*</label>
              <input required id="formName" type="text" name="name" class="form-input _req">
            </div>
            <div class="form-item">
              <label for="formSurname" class="form__label">Фамилия*</label>
              <input required id="formSurname" type="text" name="surname" class="form-input _req">
            </div>
            <div class="form-item">
              <label for="formEmail" class="form-label">E-mail*</label>
              <input required id="formEmail" type="email" name="email" class="form-input _email _req">
            </div>
            <div class="form-item">
              <label for="formPassword" class="form-label">Пароль*</label>
              <input required id="formPassword" type="password" name="password" class="form-input _req">
            </div>
            <button type="submit" class="form-button">Зарегестрироваться</button>
          </form>
        </div>
      </div>
    <!--конец части с формами-->

  </body>
</html>