* {
    box-sizing: border-box;
}

.feedback-form {
    width: 400px;
    max-width: 100%;
    height: 388px;
    border-radius: 6px;
    background-color: #fff4bd;
    text-align: center;
    margin: auto;
    padding: 30px 30px;
}

.feedback-form__title {
    color: #404040;
    font-family: Manrope, Arial, sans-serif;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 21px;
}

.feedback-form__input {
    width: 100%;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #a3a3a3;
    background-color: #ffffff;
    height: 35px;
    margin-bottom: 10px;
    outline: 0;
    padding: 0 5px;
    max-width: 100%
}

.feedback-form__input:focus {
    border-color: #bfbfbf!important;
    box-shadow: none!important
}


button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent
}

.feedback-form__button {
    width: 100%;
    height: 36px;
    background: #c0ff38;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 15px;
    padding: 8px 0;
    margin-top: 5px;
    box-shadow: 0 13px 8px -8px #909090;
    border-bottom: 5px solid #9ccc00;
    outline: 0;
    display: inline-block
}

.feedback-form__input::-webkit-input-placeholder {
    color: #999;
    font-family: Manrope, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400
}

.feedback-form__input::-moz-placeholder {
    color: #999;
    font-family: Manrope, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400
}

.feedback-form__input:-ms-input-placeholder {
    color: #999;
    font-family: Manrope, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400
}

.feedback-form__input::-ms-input-placeholder {
    color: #999;
    font-family: Manrope, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400
}

.feedback-form__input::placeholder {
    color: #999;
    font-family: Manrope, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400
}
