.head-title-text {
    width: 16%;
    height: 100%;
    background-color: #9d2a2a;
    text-align: center;
    border: 4px double black;
    display: inline-block;
}
.middle-title-nav {
    width: 20%;
    height: 100%;
    color: #ff9500;
    background-color: #2a909d;
    text-align: center;
    border: 4px double black;
    display: inline-block;
}

div > a {
 font-family:"Majestic-Regular";
   
  font-size: 16pt;
  background-color: #9c352a;
  color: #e4ff00;

}

.a-test{
  color: #37ff00;
}

.space-nav-top{
    width: 100%;
    height: 30pt;
    margin: 0 auto;
    background-color: #33cc9e;
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    border: 4px double black;
   
}
/*часть с выпадающим меню*/
/* Кнопка выпадающего списка */
.dropbtn {
  width: 100%;
  background-color:#2a909d;
  color: #ff9500;
  padding: 11px;
  font-size: 16px;
  border: 4px double black;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  width: 16%;
  position: relative;
  display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f2f2f2;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  font-family: "Rubik";
  color: #e4ff00;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {background-color: #ff9500;}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {display: block;}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.dropdown:hover .dropbtn {background-color: #443e8e;}

h1{
  color: #ff0000;
  font-size: 61px;
}

.animation {
  animation-duration: 5.5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-top: -159px;
  }

  to {
    margin-top: 0px;
  }
}

@font-face {
  font-family: "Majestic-Regular";
  src: url("Majestic Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Hubballi";
  src: url("https://fonts.google.com/specimen/Hubballi?%3F=") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*Формы и все что с ними связано*/
.form-title-text {
    width: 16%;
    height: 100%;
    background-color: #9d2a2a;
    text-align: center;
    border: 4px double black;
    display: inline-block;
}
.form{
  max-width: 550px;
  margin: 0px auto;
  color: #000000;
  padding: 30px 0;
}
.form-title{
  font-size: 40px;
  font-weight: 700;
  margin: 0px 0px 30px 0px;
  
}
.form-item{
  margin: 0px 0px 20px 0px;
  
}

.form-label{
  font-size: 18px;
  display:block;
  margin: 0px 0px 10px 0px;
}
.form-input{
  height: 50px;
  padding: 0px 20;
  border-radius: 5px;
  background-color: #dfb968;
  border: 5px solid #1abbdb;
  width: 100%;
  font-size: 18px;
}
.form-input:focus{
  outline:0;
  background: white;
  box-shadow: 0 0 25px #192926;
}
.form-input:valid{
  border-color: green;
}
.form-input._error
{
 box-shadow: 0 0 25px #ea210b;
}
.form-input:invalid{
  border-color: red;
}
.form-input:not(:focus):invalid{
  border-color: #1abbdb;
}
.form-button{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  background-color: #30a644;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 5px 0 #0a1f0d;
}
.form-button:hover{
  background-color: #387542;
}